<ion-list>
  <ion-item *ngFor="let user of userInfoArray" (click)="openProfile(user.login)">
    <ion-avatar slot="start">
      <img src="{{ user.avatar_url }}">
    </ion-avatar>
    <ion-label color="danger" *ngIf="user.public_repos > 2">
      <h2>{{ user.login || 'no name' }}</h2>
      <h5>{{ user.company || 'no company' }}</h5>
      <p> {{ user.location || 'no location' }} </p>
    </ion-label>

    <ion-label *ngIf="user.public_repos <= 2">
      <h2>{{ user.login || 'no name' }}</h2>
      <h5>{{ user.company || 'no company' }}</h5>
      <p> {{ user.location || 'no location' }} </p>
    </ion-label>
  </ion-item>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-list>